/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8; /* Add a background color to make the menu stand out */
}

.menu button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.menu button:hover {
    background-color: #45a049;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 確保 header 總是在其他元素之上 */
    text-align: center;
    background-color: rgba(196, 196, 196, 0.5); /* 使用 rgba 來設定透明度 */
    padding: 10px 0;
}